<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- có thể đặt css vào một file có đuôi là tenfile.css và load vào đây theo cú pháp sau -->
    <link rel="stylesheet" href="css/style.css">
    <title>layout</title>
</head>
<body>
    <!-- tạo khối bao quanh toàn bộ website -->
    <div class="wrapper">
        <!-- banner -->
        <div class="banner"><img src="images/banner.jpg"></div>
        <!-- /banner -->
        <!-- menu-top -->
        <div class="menu-top">
            <!-- left -->
            <div class="menu-top-left"><span>Thứ 2, ngày 20 tháng 6 năm xxxx</span></div>
            <!-- right -->
            <div class="menu-top-right">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        <!-- content -->
        <div class="content">
            <!-- left -->
            <div class="left">
                <!-- category -->
                <div class="category">
                    <ul>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                    </ul>
                </div>
                <!-- /category -->
                <!-- search -->
                <div class="search">
                    <img src="images/search.jpg">
                    <input type="text"> <input type="button" value="Go">
                </div>
                <!-- /search -->
                <!-- hot product -->
                <div class="product-hot">
                    <ul>
                        <li><a href="#"><img src="images/product-hot-image.jpg"></a></li>
                        <li><a href="#"><img src="images/product-hot-image.jpg"></a></li>
                        <li><a href="#"><img src="images/product-hot-image.jpg"></a></li>
                        <li><a href="#"><img src="images/product-hot-image.jpg"></a></li>
                    </ul>
                </div>
                <!-- /hot product -->
                <!-- static -->
                <div class="static">
                    <ul>
                        <li>Online: <span>123.456</span></li>
                        <li>Lượt truy cập: <span>8 8.888</span></li>
                    </ul>
                </div>
                <!-- /static -->
            </div>
            <!-- /left -->
            <!-- main -->
            <div class="left">main</div>
            <!-- /main -->
            <!-- right -->
            <div class="left">right</div>
            <!-- /right -->
        </div>
        <!-- /content -->
        <!-- footer -->
        <footer>
            <div class="menu-bottom">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <div class="footer-copyright">© 20XX Bản quyền thuộc về PHUONGNHUNG GROUP</div>
Phòng 303 Tòa nhà 76 Nguyễn Chí Thanh, Đống Đa, Hà nội, Việt Nam <br>
Tel: (84-4)7 755 788  - Fax:  (84-4)7 755 828 - Mobile:  (+84)0913 <br>234 678  - Email:  lanphuong.co@fpt.vn
            </div>
        </footer>
        <!-- /footer -->
    </div>
</body>
</html>