<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- có thể đặt css vào một file có đuôi là tenfile.css và load vào đây theo cú pháp sau -->
    <link rel="stylesheet" href="css/style.css">
    <title>layout</title>
</head>
<body>
    <!-- tạo khối bao quanh toàn bộ website -->
    <div class="wrapper">
        <!-- banner -->
        <div class="banner"><img src="images/banner.jpg"></div>
        <!-- /banner -->
        <!-- menu-top -->
        <div class="menu-top">
            <!-- left -->
            <div class="menu-top-left"><span>Thứ 2, ngày 20 tháng 6 năm xxxx</span></div>
            <!-- right -->
            <div class="menu-top-right">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        <!-- content -->
        <div class="content">
            <!-- left -->
            <div class="left">
                <!-- category -->
                <div class="category">
                    <ul>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                        <li><a href="#">Sữa Abbott</a></li>
                    </ul>
                </div>
                <!-- /category -->
                <!-- search -->
                <div class="search">
                    <img src="images/search.jpg">
                    <input type="text"> <input type="button" value="Go">
                </div>
                <!-- /search -->
                <!-- hot product -->
                <div class="product-hot">
                    <ul>
                        <li><a href="#"><img src="images/product-hot-image.jpg"></a></li>
                        <li><a href="#"><img src="images/product-hot-image.jpg"></a></li>
                        <li><a href="#"><img src="images/product-hot-image.jpg"></a></li>
                        <li><a href="#"><img src="images/product-hot-image.jpg"></a></li>
                    </ul>
                </div>
                <!-- /hot product -->
                <!-- static -->
                <div class="static">
                    <ul>
                        <li>Online: <span>123.456</span></li>
                        <li>Lượt truy cập: <span>8 8.888</span></li>
                    </ul>
                </div>
                <!-- /static -->
            </div>
            <!-- /left -->
            <!-- main -->
            <div class="main"       >
                <!-- slide -->
                <div class="slide">
                    <img src="images/slide.jpg">

                </div>

                <!-- /slide -->
                <!-- box main san pham moi -->
                <div class="box-main">
                    <div class="box-main-title">Sản Phẩm Mới</div>
                    <div class="product-new">
                        <ul>
                            <li><div class="product-new-image"><img src="images/product-new.jpg"></div>
                            <div class="product-new-title"><a href="#">Sua Alaska</a></div>
                            <div class="product-new-deception">Có nhiều hương vị trái cây tự nhiên: dâu, sầu riêng, cốm, dừa, khoai môn, đậu xanh</div>
                            <div class="product-new-link"><a href="#">Chi tiet</a> &nbsp;|
                            <a href="#">Mua Hang</a>
                            </div>

                            </li>
                            <li><div class="product-new-image"><img src="images/product-new.jpg"></div>
                                <div class="product-new-title"><a href="#">Sua Alaska</a></div>
                                <div class="product-new-deception">Có nhiều hương vị trái cây tự nhiên: dâu, sầu riêng, cốm, dừa, khoai môn, đậu xanh</div>
                                <div class="product-new-link"><a href="#">Chi tiet</a> &nbsp;|
                                <a href="#">Mua Hang</a>
                                </div>
                            </li>
                            <li><div class="product-new-image"><img src="images/product-new.jpg"></div>
                                <div class="product-new-title"><a href="#">Sua Alaska</a></div>
                                    <div class="product-new-deception">Có nhiều hương vị trái cây tự nhiên: dâu, sầu riêng, cốm, dừa, khoai môn, đậu xanh</div>
                                    <div class="product-new-link"><a href="#">Chi tiet</a> &nbsp;|
                                    <a href="#">Mua Hang</a>
                                    </div>
                            </li>
                            <li><div class="product-new-image"><img src="images/product-new.jpg"></div>
                                        <div class="product-new-title"><a href="#">Sua Alaska</a></div>
                                        <div class="product-new-deception">Có nhiều hương vị trái cây tự nhiên: dâu, sầu riêng, cốm, dừa, khoai môn, đậu xanh</div>
                                        <div class="product-new-link"><a href="#">Chi tiet </a> &nbsp;|
                                        <a href="#">Mua Hang</a>
                                        </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- /box man san pham moi-->
                <!-- box main tin tuc -->
                <div class="box-main">
                    <div class="box-main-title">Tin Tức</div>
                    <div class="news-hot">
                        <ul>
                            <li>
                               <div class="box-main-new-title">
                                <a href="#">Giá nguyên liệu sữa nhập khẩu tiếp tục tăng cao</a>
                                <div class="box-main-new-content">
                                    <img src="images/box-mainnews.jpg">
                                    Theo các Cty sữa cho biết, giá nguyên liệu sữa nhập khẩu trong tháng 11 tiếp tục tăng thêm 200USD/tấn. Với mức giá hiện nay, giá sữa béo có nguồn gốc New Zealand nhập về VN hiện là 5.700USD/tấn, tăng gấp 2 lần so với thời điểm này năm ngoái.

                                </div>
                                <div class="box-main-new-links"><a href="#">Chi Tiet >> </a></div>

                               </div> 
                            </li>
                            <li>
                                <div class="box-main-new-title">
                                 <a href="#">Giá nguyên liệu sữa nhập khẩu tiếp tục tăng cao</a>
                                 <div class="box-main-new-content">
                                     <img src="images/box-mainnews.jpg">
                                     Theo các Cty sữa cho biết, giá nguyên liệu sữa nhập khẩu trong tháng 11 tiếp tục tăng thêm 200USD/tấn. Với mức giá hiện nay, giá sữa béo có nguồn gốc New Zealand nhập về VN hiện là 5.700USD/tấn, tăng gấp 2 lần so với thời điểm này năm ngoái.
 
                                 </div>
                                 <div class="box-main-new-links"><a href="#">Chi Tiet >> </a></div>
                                </div> 
                             </li>
                        </ul>
                    </div>
                </div>
                <!-- /box main tin tuc -->

            </div>
            <!-- /main -->
            <!-- right -->
            <div class="right">
                <!-- phan hoi dap -->
                <div class="question-answer-title">
                    <span>Hỏi Đáp</span>
                </div>
                <div class="question-answer-content">
                    <ul>
                        <li><div><img src="images/question-answer-arrow.jpg">
                        </div>
                        
                        <a href="#">Sữa có lợi cho sức khỏe như thế nào ?
                        </a>

                        </li>
                        <li><div><img src="images/question-answer-arrow.jpg">
                        </div>
                            <a href="#">Sữa có lợi cho sức khỏe như thế nào ?
                            </a>
                        </li>
                        <li><div><img src="images/question-answer-arrow.jpg">
                        </div>
                                <a href="#">Sữa có lợi cho sức khỏe như thế nào ?
                                </a>
                        </li>
                        <li><div><img src="images/question-answer-arrow.jpg">
                        </div>
                            <a href="#">Sữa có lợi cho sức khỏe như thế nào ?
                            </a>
                        </li>

                    </ul>
                    <div class="send-question"><a href="#">[Gửi Cho Chúng Tôi]</a></div>
                </div>
                

                <!-- /phan hoi dap -->
                <!-- support -->
                <div class="support">
                    <div class="support-title">
                        Dịch Vu Bán Hàng
                    </div>
                    <div class="skype">
                        <ul>
                            <li><img src="images/skipe.jpg"></li>
                            <li>Nhan Vien Kinh Doanh</li>
                            <li><img src="images/skipe.jpg"></li>
                            <li>Nhan Vien Kinh Doanh</li>
                            <li><img src="images/skipe.jpg"></li>
                            <li>Nhan Vien Kinh Doanh</li>
                        </ul>
                    </div>
                    <div class="support-line"></div>
                    <div class="support-contact">
                        <ul>
                            <li>Mobile: (84-4) 0913 234 678</li>
                            <li>Emai: lanphuong.co@fpt.vn</li>
                        </ul>
                    </div>
                </div>
                <!-- /support -->
                <!-- check-mail -->
                <div class="check-mail">
                    <ul>
                        <li>CHECK MAIL</li>
                        <li>Emai</li>
                        <li><input type="text"></li>
                        <li>Password</li>
                        <li><input type="text"></li>
                        <li><input type="submit" value="Login"></li>
                    </ul>
                </div>
                <!-- /check-mail -->
            </div>
            <!-- /right -->
        </div>
        <!-- /content -->
        <!-- footer -->
        <footer>
            <div class="menu-bottom">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="footer-content">
                <div class="footer-copyright">© 20XX Bản quyền thuộc về PHUONGNHUNG GROUP</div>
Phòng 303 Tòa nhà 76 Nguyễn Chí Thanh, Đống Đa, Hà nội, Việt Nam <br>
Tel: (84-4)7 755 788  - Fax:  (84-4)7 755 828 - Mobile:  (+84)0913 <br>234 678  - Email:  lanphuong.co@fpt.vn
            </div>
        </footer>
        <!-- /footer -->
    </div>
</body>
</html>